<!DOCTYPE html>
<html style="" class=" js cssanimations csstransforms csstransforms3d csstransitions svg inlinesvg" lang="en"><head data-hook="admin_inside_head">
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="+P87YerBbB0ELjDRa4wo2AxgHaJfCiCGMY6G1kToC/YPbcgnksGE7gTWij+Ktvo1BHSwPtJmw2Yq4CXf7+Q06g==">

<title>
    Spree Administration: 
    Orders
</title>

<link rel="stylesheet" media="all" href="/assets/jquery-ui/theme.self-7a9c051f2aa44a600b500a49f222d9d97f131920cec33b47b40428ff535481d1.css?body=1">
<link rel="stylesheet" media="all" href="/assets/jquery-ui/core.self-23329dbe1961b938278306c019037fe36ff6ccb28193f1038e52ccbf52858163.css?body=1">
<link rel="stylesheet" media="all" href="/assets/jquery-ui/datepicker.self-bf92a2196df590f06fad4ab5bb7ed4db1874a9bef0c9af85ea0490d2108b9966.css?body=1">
<link rel="stylesheet" media="all" href="/assets/jquery-ui/menu.self-5277268fc75b8d6e851ccb5ca12e162c7440315d70974f34db800bc70330f135.css?body=1">
<link rel="stylesheet" media="all" href="/assets/jquery-ui/autocomplete.self-2d6dfccae4fba2fe27d00372b974d4540d75a00cea6ceaa0a6aa33852b9d3ac3.css?body=1">
<link rel="stylesheet" media="all" href="/assets/select2.self-cc6993a0d543a584e98e6b70c529fc2a6bdb0abefff4b8b557df356952762a04.css?body=1">
<link rel="stylesheet" media="all" href="/assets/animate.self-8ff8682dec340d8caa1ea038dc8c9eba39aa9c6f29ed0f712f2ae3f3208cd102.css?body=1">
<link rel="stylesheet" media="all" href="/assets/spree/backend/spree_admin.self-bead839a4799c84acc7e3636a25986db65aabfd3f94f6b7ba0895d8d4bd45cb5.css?body=1">
<link rel="stylesheet" media="all" href="/assets/spree/backend.self-4984d37b1be7d78543cf464fae996bcd8e0e8a72c929b2ded5fde626869184f7.css?body=1">
<link rel="stylesheet" media="all" href="/assets/spree/backend/all.self-39fe2fcfc173d85d1c5732d8f1ca4ad3978a1dc4bfe39b5232481c10884e04b3.css?body=1">
<link rel="stylesheet" media="all" href="/assets/spree/backend/spree_delivery_slots.self-2cb95d73fc027481f5caa632c21ea6a3a2bda063ae440710cf77283a7cb2731d.css?body=1">

<script>
  SpreePaths = {"mounted_at":"/","admin":"admin/"}
</script>

<script src="/assets/jquery.self-bd7ddd393353a8d2480a622e80342adf488fb6006d667e8b42e4c0073393abee.js?body=1"></script>
<script src="/assets/jquery_ujs.self-784a997f6726036b1993eb2217c9cb558e1cbb801c6da88105588c56f13b466a.js?body=1"></script>
<script src="/assets/modernizr.self-aa667fe1e48758a4ad89f17070516b116927175d5010992a9a00b2e4ee2660ba.js?body=1"></script>
<script src="/assets/bootstrap/transition.self-6ad2488465135ab731a045a8ebbe3ea2fc501aed286042496eda1664fdd07ba9.js?body=1"></script>
<script src="/assets/bootstrap/alert.self-742145c5bb847aafdadc6e339be795628f8bc25f177e851f03a8c42278eb0312.js?body=1"></script>
<script src="/assets/bootstrap/button.self-126ac9bf0e7f2d8568f8da3a00fd5f0fac6eae0946331003370161fbf8d7975e.js?body=1"></script>
<script src="/assets/bootstrap/carousel.self-e47323f363ceb3dc0bdbce05e36e709ed428e339833a41140a85cb0af24b8127.js?body=1"></script>
<script src="/assets/bootstrap/collapse.self-2eb697f62b587bb786ff940d82dd4be88cdeeaf13ca128e3da3850c5fcaec301.js?body=1"></script>
<script src="/assets/bootstrap/dropdown.self-561cca1cbaf67474e01e9536f106bad541594860a6df997004591c1c1957a147.js?body=1"></script>
<script src="/assets/bootstrap/modal.self-3e78617ade5663314b7ee0ea10375a5b34d59ffbade44939e3f2a4e4ef2019b3.js?body=1"></script>
<script src="/assets/bootstrap/tab.self-5bf7078b682f8b131332eefa46b45fa5eff2eca745fc0d03e2991450888f7c28.js?body=1"></script>
<script src="/assets/bootstrap/affix.self-6d6f1a7fc5c8aabf3547fa1b794fab6268f54bc55ad815e55873c71f52513517.js?body=1"></script>
<script src="/assets/bootstrap/scrollspy.self-969f3c5f48cdf1e439c7fa1154c13b948715f5c689f87837c0b64521d3b46ef6.js?body=1"></script>
<script src="/assets/bootstrap/tooltip.self-05afb177e08f98997ccfc84fa08a215e4b27d48d5fe4d049080675e9dffd8199.js?body=1"></script>
<script src="/assets/bootstrap/popover.self-0aa93860b59fe7393f1dd490f54b3cb994f9d6155adffce034d4e14ae361b041.js?body=1"></script>
<script src="/assets/bootstrap-sprockets.self-fbfa5ad7d9aa0afe439ec4ff3883acc4cb92b62cb67c40d674320c9aa1d4642d.js?body=1"></script>
<script src="/assets/handlebars.self-aac45a7b84512bec67b3b900f5a7e63b3f45f01aa58c4ae53bd03b8a80df6471.js?body=1"></script>
<script src="/assets/jquery.cookie.self-34ad284f5ab8d65d7e5a54895beb1f4ce427d6ed0f3df83d59533b23520bd206.js?body=1"></script>
<script src="/assets/jquery.jstree/jquery.jstree.self-4133052a7f69ba15d0e4f85db43d4dc0ff19499b5fc5e512d704ce4b3e92f07b.js?body=1"></script>
<script src="/assets/jquery-ui/core.self-93be4d22eda916787802a64d8f88b52db8a9027d4ccbbc0942625324a7d12d44.js?body=1"></script>
<script src="/assets/jquery-ui/datepicker.self-6267be6d4d0f0e8665be3b4d6ac07f40ba23a32aff8eaa5d1bfc00f76a9eeae7.js?body=1"></script>
<script src="/assets/jquery-ui/widget.self-c1602241ddc51216b58391768667068867b8e15b9efc722befcd25771eda6819.js?body=1"></script>
<script src="/assets/jquery-ui/mouse.self-c513294e8da73f31f84ba3ef11e2a1180a47faea0eb2fea4a53fc26153dd21fd.js?body=1"></script>
<script src="/assets/jquery-ui/sortable.self-df2d80a36f9dfbe0facc596ccd92af83ca50d38e4cd6a84810aaf5d40b8cd181.js?body=1"></script>
<script src="/assets/jquery-ui/position.self-e693ced4ecfa1a276f0b794f32c1d30d792764b08788bf68ecfa3b388c291333.js?body=1"></script>
<script src="/assets/jquery-ui/menu.self-7abc1c9401509a7e4fc609b1e461be6fd17e8116e8fda19cc59d05ba79aefb68.js?body=1"></script>
<script src="/assets/jquery-ui/autocomplete.self-3befc48aba87cead090cfd014562b2771a662ac6d2c8197b24c08b2d9f3d9f2d.js?body=1"></script>
<script src="/assets/select2.self-3b8f3d27d1d4f2a9c4aecae89a981946329466fe7ed02d61cbc8e77a77ff4516.js?body=1"></script>
<script src="/assets/underscore-min.self-efadcb9a8010ea2d2c83f0dadc134a5dc36bf500b116a1b5c347fb7e70e36c6c.js?body=1"></script>
<script src="/assets/velocity.self-5fa69922a967f61c0bbe31d68698af4e9a1205a7862f078150a58f46cbb99b45.js?body=1"></script>
<script src="/assets/jsuri.self-090126b483ac28538a8bd132dce89500493c079744010067a5e79b94f57c0122.js?body=1"></script>
<script src="/assets/spree.self-77584b42ec80fc02086ac4b655219d17518c002660a93e6d91bd743a8e57949a.js?body=1"></script>
<script src="/assets/spree/backend/spree-select2.self-551d240b0267347a3fe1d31080b841be420fe24a588b8421bf59fc21be0ce3ef.js?body=1"></script>
<script src="/assets/spree/backend/address_states.self-b1e1f0afd855bedef5faecce0a6510759c1f4d12b7ea1093104cafb885ac45b2.js?body=1"></script>
<script src="/assets/spree/backend/adjustments.self-0193a8ae551d294944e990b5cbcaeac5586d57c3f458cdcaafa50bdcddc08a9d.js?body=1"></script>
<script src="/assets/spree/backend/admin.self-e33e9450a3ff1cd931bada7ad26dd9b77909261d07a0b039f9f26c2fe7edbeea.js?body=1"></script>
<script src="/assets/spree/backend/calculator.self-d316b5a2aab2474aeb2511fab6598ae43daa42e10c06bd4c89ad84cc6c72acc2.js?body=1"></script>
<script src="/assets/spree/backend/checkouts/edit.self-91b277f7895040c09275a666520628b02702865f5f3c8a3f8bd00a1ac5aac44c.js?body=1"></script>
<script src="/assets/spree/backend/gateway.self-f0b06fafd8214af75350b4ecb87cd64d4b1e2906e2cd143b6a323e7d77db5afc.js?body=1"></script>
<script src="/assets/spree/backend/general_settings.self-9816820edbdd565a8d7f521cb4041664febca2480eb1d3ceaa03988fdf23e354.js?body=1"></script>
<script src="/assets/spree/backend/handlebar_extensions.self-b2e3f13f8bbc6f2c5b8ec67aca2414e784ce373f2ad3e437d239291f65fc49bc.js?body=1"></script>
<script src="/assets/spree/backend/line_items.self-a39aadea9d28130c34dabc9621e8f407b22a085e72218df462d2d111ef9be96b.js?body=1"></script>
<script src="/assets/spree/backend/line_items_on_order_edit.self-2e09450c4e65a9db12f99864aceb2035e67c4f6dfa22ca4eeadfe1b35dac1424.js?body=1"></script>
<script src="/assets/spree/backend/option_type_autocomplete.self-b9f2239af1fa77c04bf0168c0f767e817d58c8f04b5f74b456e3157d752cd1f9.js?body=1"></script>
<script src="/assets/spree/backend/option_value_picker.self-dfb0d92526a69467a597e1850e88d39c5bddb527732f3210a6998dcae5b701ee.js?body=1"></script>
<script src="/assets/spree/backend/orders/edit.self-d7af5a0748a6fe9cd7f6a68c78f896687b63e4702aca11bbd57ce830773b4ebc.js?body=1"></script>
<script src="/assets/spree/backend/payments/edit.self-e2d0f27c92f1db70305c3d3733663e5115982cab23f589ab7fd18194f854ee03.js?body=1"></script>
<script src="/assets/jquery.payment.self-38d1c43bb5a79a62bce3ec642fe216db420582062f0990bb7ce095fe9698a834.js?body=1"></script>
<script src="/assets/spree/backend/payments/new.self-9c9785c8204d067b3c7bb53e83c471aab5093107807d5d8dcb4b90d2f33b4aca.js?body=1"></script>
<script src="/assets/spree/backend/product_picker.self-0d0390f26d960ffe57311bef3eaa65efb73610fcb6f253dcb9e15a1c30e22bb9.js?body=1"></script>
<script src="/assets/spree/backend/progress.self-dc7faaec6730338ef5d39e3163452d73f963a18287508c8f168079f79e696f39.js?body=1"></script>
<script src="/assets/spree/backend/promotions.self-59a350a124de8a4758c7973df62c0e8c922ff61758aaf4c7d9063f9b0b005703.js?body=1"></script>
<script src="/assets/spree/backend/returns/expedited_exchanges_warning.self-4c028664459e8747b1e16af98cb3d2bfc64c768d4ae9e01be76a8e3cf609d87c.js?body=1"></script>
<script src="/assets/spree/backend/returns/return_item_selection.self-ba25a0050690c95bf50f28502b8803f5f3e6932710f84cff57e4bb86789bba0c.js?body=1"></script>
<script src="/assets/spree/backend/shipments.self-aad5900fb508ec2854106ac3093a62ae0a536cc514472c6ba45d5d0150a51673.js?body=1"></script>
<script src="/assets/spree/backend/states.self-9da25c2d735bb114f6e2ee6015db8571dfd2a97fea877fc612cae23775591ca0.js?body=1"></script>
<script src="/assets/spree/backend/stock_location.self-7063eb91515d8ca91fc15db5b8d9df4e45f09d32e6fef23a212fae036202d086.js?body=1"></script>
<script src="/assets/spree/backend/stock_management.self-79a47da79d46d6255de87ebea8d507bdef86647955e13d96cb5a3641c3112470.js?body=1"></script>
<script src="/assets/spree/backend/stock_movement.self-f24d971ae273524ea93e5231a6b872b6a9eafe64fb195a66acaa79223bd139dc.js?body=1"></script>
<script src="/assets/spree/backend/stock_transfer.self-1d25178386588cf777597140b04954df76af2f1667d5655c58c40b710f6b333f.js?body=1"></script>
<script src="/assets/spree/backend/taxon_autocomplete.self-bedd7724fbafc160ca7df46539f5c0d064eb6584adb35074820f4393be0e1c55.js?body=1"></script>
<script src="/assets/spree/backend/taxon_permalink_preview.self-b8c74a37797f45a125c2493e5807bbd422aa5e9dd36c093f595d338c2d88ef08.js?body=1"></script>
<script src="/assets/spree/backend/taxon_tree_menu.self-3aff0ecfd9eb4c6c58814e27117076d3891d34a5c9ea51ef8401321a2ab3e507.js?body=1"></script>
<script src="/assets/spree/backend/taxonomy.self-e2ef8c68b3c7a8877decf2d2bebc62bb27099319080a58c7f47109dbbd984e86.js?body=1"></script>
<script src="/assets/spree/backend/taxons.self-a52519dfec12cb08003c6e02f78472d6296e7410c8fa70c44debab238dd73e68.js?body=1"></script>
<script src="/assets/spree/backend/user_picker.self-b3c3e41ddc60e6b6e90f96ffffbfde624f9fe7921c861dd9a5faefa77c069553.js?body=1"></script>
<script src="/assets/spree/backend/tag_picker.self-c553f1ee4c9e2c15d330886c3ab7223aff77d1d12d7f6e88aece636423e07960.js?body=1"></script>
<script src="/assets/spree/backend/variant_autocomplete.self-bc2e7954d75e66ecb0d582a54290008f9e5938aecf01dc0a2ff11595fe325c6c.js?body=1"></script>
<script src="/assets/spree/backend/variant_management.self-a6fed3bbdbe69ad3465c5a133d80b49e3860039b43ef6644ff430c9604a2b1b7.js?body=1"></script>
<script src="/assets/spree/backend/zone.self-d50ab9c1b3fcacc876540a8afccd24c64aa947aef5156959919a804212bafa22.js?body=1"></script>
<script src="/assets/spree/backend.self-73adfece2f765aa9d87facf71b20c9182c7ee38c03c434e4c5628d77461017a1.js?body=1"></script>
<script src="/assets/spree/backend/spree_delivery_slots/delivery.self-ba34f91812f3941e2b013a3c1d568e6f4617f327741ca3d24e9039cf3a1ebd2b.js?body=1"></script>
<script src="/assets/spree/backend/spree_delivery_slots.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.js?body=1"></script>
<script src="/assets/spree/backend/all.self-cb715ade8208ca614adcefe484df803bed6d65b27b52ba06264930b4627dcfd7.js?body=1"></script>
<script>
  Spree.translations = {"abbr_day_names":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"add":"Add","are_you_sure":"Are you sure?","are_you_sure_delete":"Are you sure you want to delete this record?","bill_address":"Bill Address","cancel":"Cancel","choose_a_customer":"Choose a customer","confirm_delete":"Confirm Deletion","currency_separator":".","cut":"Cut","date_picker":"yy/mm/dd","destroy":"Destroy","edit":"Edit","first_day":0,"find_a_taxon":"Find a Taxon","item_stock_placeholder":"Choose location","loading":"Loading","month_names":["January","February","March","April","May","June","July","August","September","October","November","December"],"more":"More","name":"Name","new_taxon":"New Taxon","next":"Next","no_results":"No results","option_type_placeholder":"Choose an option type","paste":"Paste","previous":"Previous","remove":"Remove","rename":"Rename","save":"Save","searching":"Searching","server_error":"The server returned an error","sku":"SKU","type_to_search":"Type to search","taxon_placeholder":"Add a Taxon","taxonomy_tree_error":"The requested change has not been accepted and the tree has been returned to its previous state, please try again.","tags_placeholder":"Add Tags","tracking":"Tracking","variant_placeholder":"Choose a variant","value":"Value"}
</script>



<script>
//<![CDATA[

  var AUTH_TOKEN = "YGEoNCS1BZrwjQZkNBUA/IrmLLMblkXBybVDBkFmkoKX89tyXLXtafB1vIrVL9IRgvKBL5b6piHS2+AP6mqtng==";
  Spree.api_key = 'e6abc4f2acf52b519208420f6147fbb76b9a543086a79b76';

//]]>
</script>


  <style type="text/css" id="vakata-stylesheet">#vakata-dragged { display:block; margin:0 0 0 0; padding:4px 4px 4px 24px; position:absolute; top:-2000px; line-height:16px; z-index:10000; } #vakata-contextmenu { display:block; visibility:hidden; left:0; top:-200px; position:absolute; margin:0; padding:0; min-width:180px; background:#ebebeb; border:1px solid silver; z-index:10000; *width:180px; } #vakata-contextmenu ul { min-width:180px; *width:180px; } #vakata-contextmenu ul, #vakata-contextmenu li { margin:0; padding:0; list-style-type:none; display:block; } #vakata-contextmenu li { line-height:20px; min-height:20px; position:relative; padding:0px; } #vakata-contextmenu li a { padding:1px 6px; line-height:17px; display:block; text-decoration:none; margin:1px 1px 0 1px; } #vakata-contextmenu li ins { float:left; width:16px; height:16px; text-decoration:none; margin-right:2px; } #vakata-contextmenu li a:hover, #vakata-contextmenu li.vakata-hover > a { background:gray; color:white; } #vakata-contextmenu li ul { display:none; position:absolute; top:-2px; left:100%; background:#ebebeb; border:1px solid gray; } #vakata-contextmenu .right { right:100%; left:auto; } #vakata-contextmenu .bottom { bottom:-1px; top:auto; } #vakata-contextmenu li.vakata-separator { min-height:0; height:1px; line-height:1px; font-size:1px; overflow:hidden; margin:0 2px; background:silver; /* border-top:1px solid #fefefe; */ padding:0; } </style><style type="text/css" id="jstree-stylesheet">.jstree ul, .jstree li { display:block; margin:0 0 0 0; padding:0 0 0 0; list-style-type:none; } .jstree li { display:block; min-height:18px; line-height:18px; white-space:nowrap; margin-left:18px; min-width:18px; } .jstree-rtl li { margin-left:0; margin-right:18px; } .jstree > ul > li { margin-left:0px; } .jstree-rtl > ul > li { margin-right:0px; } .jstree ins { display:inline-block; text-decoration:none; width:18px; height:18px; margin:0 0 0 0; padding:0; } .jstree a { display:inline-block; line-height:16px; height:16px; color:black; white-space:nowrap; text-decoration:none; padding:1px 2px; margin:0; } .jstree a:focus { outline: none; } .jstree a > ins { height:16px; width:16px; } .jstree a > .jstree-icon { margin-right:3px; } .jstree-rtl a > .jstree-icon { margin-left:3px; margin-right:0; } li.jstree-open > ul { display:block; } li.jstree-closed > ul { display:none; } #vakata-dragged ins { display:block; text-decoration:none; width:16px; height:16px; margin:0 0 0 0; padding:0; position:absolute; top:4px; left:4px;  border-radius:4px; -webkit-border-radius:4px; } #vakata-dragged .jstree-ok { background:green; } #vakata-dragged .jstree-invalid { background:red; } #jstree-marker { padding:0; margin:0; font-size:12px; overflow:hidden; height:12px; width:8px; position:absolute; top:-30px; z-index:10001; background-repeat:no-repeat; display:none; background-color:transparent; text-shadow:1px 1px 1px white; color:black; line-height:10px; } #jstree-marker-line { padding:0; margin:0; line-height:0%; font-size:1px; overflow:hidden; height:1px; width:100px; position:absolute; top:-30px; z-index:10000; background-repeat:no-repeat; display:none; background-color:#456c43;  cursor:pointer; border:1px solid #eeeeee; border-left:0; -moz-box-shadow: 0px 0px 2px #666; -webkit-box-shadow: 0px 0px 2px #666; box-shadow: 0px 0px 2px #666;  border-radius:1px; -webkit-border-radius:1px; }.jstree .jstree-real-checkbox { display:none; } .jstree-themeroller .ui-icon { overflow:visible; } .jstree-themeroller a { padding:0 2px; } .jstree-themeroller .jstree-no-icon { display:none; }.jstree .jstree-wholerow-real { position:relative; z-index:1; } .jstree .jstree-wholerow-real li { cursor:pointer; } .jstree .jstree-wholerow-real a { border-left-color:transparent !important; border-right-color:transparent !important; } .jstree .jstree-wholerow { position:relative; z-index:0; height:0; } .jstree .jstree-wholerow ul, .jstree .jstree-wholerow li { width:100%; } .jstree .jstree-wholerow, .jstree .jstree-wholerow ul, .jstree .jstree-wholerow li, .jstree .jstree-wholerow a { margin:0 !important; padding:0 !important; } .jstree .jstree-wholerow, .jstree .jstree-wholerow ul, .jstree .jstree-wholerow li { background:transparent !important; }.jstree .jstree-wholerow ins, .jstree .jstree-wholerow span, .jstree .jstree-wholerow input { display:none !important; }.jstree .jstree-wholerow a, .jstree .jstree-wholerow a:hover { text-indent:-9999px; !important; width:100%; padding:0 !important; border-right-width:0px !important; border-left-width:0px !important; } .jstree .jstree-wholerow-span { position:absolute; left:0; margin:0px; padding:0; height:18px; border-width:0; padding:0; z-index:0; }</style></head>

  <body class="admin">

    <div id="progress">
      <div class="alert alert-info alert-progress">
        <div class="spinner">Loading...</div>
        <div class="progress-message">Loading...</div>
      </div>
    </div>

    <header class="header logged-in">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header col-sm-3 col-md-2">
          <a class="logo navbar-brand" href="/admin"><img id="logo" src="/assets/ecommerce-4ebeec2c2fa8750ad1c7872cbc1e99df39c4460348d62ad6308d1354593aa876.png" alt="Ecommerce"></a>
            <span class="navbar-toggle" id="sidebar-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </span>
        </div>
        -
      </div>
    </div>
  </nav>

</header>


    <div id="wrapper" class="container-fluid ">
      <div class="row">

        <div class="col-sm-3 col-md-2 hidden-xs sidebar" id="main-sidebar" data-hook="admin_tabs">
            <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item selected"><a class="icon-link with-tip action-shopping-cart" href="/admin/orders" data-original-title="" title=""><span class="icon icon-shopping-cart"></span> <span class="text">Orders</span></a></li>
  </ul>

  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item"><a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-returns"><span class="icon icon-transfer"></span><span class="text"> Returns</span><span class="icon icon-chevron-left pull-right"></span></a><ul id="sidebar-returns" class="collapse nav nav-pills nav-stacked" data-hook="admin_returns_sub_tabs">
  <li class="sidebar-menu-item"><a href="/admin/return_authorizations">Return Authorizations</a></li>
  <li class="sidebar-menu-item"><a href="/admin/customer_returns">Customer Returns</a></li>
</ul>
</li>
  </ul>

  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item"><a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-product"><span class="icon icon-th-large"></span><span class="text"> Products</span><span class="icon icon-chevron-left pull-right"></span></a><ul id="sidebar-product" class="collapse nav nav-pills nav-stacked" data-hook="admin_product_sub_tabs">
  <li class="sidebar-menu-item"><a href="/admin/products">Products</a></li>
  <li class="sidebar-menu-item"><a href="/admin/option_types">Option Types</a></li>
  <li class="sidebar-menu-item"><a href="/admin/properties">Properties</a></li>
  <li class="sidebar-menu-item"><a href="/admin/prototypes">Prototypes</a></li>
  <li class="sidebar-menu-item"><a href="/admin/taxonomies">Taxonomies</a></li>
  <li class="sidebar-menu-item"><a href="/admin/taxons">Taxons</a></li>
</ul>
</li>
  </ul>

  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item"><a class="icon-link with-tip action-file" href="/admin/reports" data-original-title="" title=""><span class="icon icon-file"></span> <span class="text">Reports</span></a></li>
  </ul>

  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item"><a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-promotions"><span class="icon icon-gift"></span><span class="text"> Promotions</span><span class="icon icon-chevron-left pull-right"></span></a><ul id="sidebar-promotions" class="collapse nav nav-pills nav-stacked" data-hook="admin_promotion_sub_tabs">
  <li class="sidebar-menu-item"><a href="/admin/promotions">Promotions</a></li>
  <li class="sidebar-menu-item"><a href="/admin/promotion_categories">Promotion Categories</a></li>
</ul>
</li>
  </ul>

 <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item"><a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-salesforce"><span class="icon icon-gift"></span><span class="text"> salesforce</span><span class="icon icon-chevron-left pull-right"></span></a><ul id="sidebar-salesforce" class="collapse nav nav-pills nav-stacked" data-hook="admin_salesforce_sub_tabs">
  <li class="sidebar-menu-item"><a href="/admin/salesforce_products">Products</a></li>
</ul>
</li>
  </ul>

  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item"><a class="icon-link with-tip action-user" href="/admin/users" data-original-title="" title=""><span class="icon icon-user"></span> <span class="text">Users</span></a></li>
  </ul>

  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item"><a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-configuration"><span class="icon icon-wrench"></span><span class="text"> Configurations</span><span class="icon icon-chevron-left pull-right"></span></a><ul data-hook="admin_configurations_sidebar_menu" class="collapse nav nav-pills nav-stacked" id="sidebar-configuration">
  <li class="sidebar-menu-item"><a href="/admin/general_settings/edit">General Settings</a></li>
  <li class="sidebar-menu-item"><a href="/admin/tax_categories">Tax Categories</a></li>
  <li class="sidebar-menu-item"><a href="/admin/tax_rates">Tax Rates</a></li>
  <li class="sidebar-menu-item"><a href="/admin/zones">Zones</a></li>
  <li class="sidebar-menu-item"><a href="/admin/countries">Countries</a></li>

    <li class="sidebar-menu-item"><a href="/admin/countries/232/states">States</a></li>

  <li class="sidebar-menu-item"><a href="/admin/payment_methods">Payment Methods</a></li>
  <li class="sidebar-menu-item"><a href="/admin/shipping_methods">Shipping Methods</a></li>
  <li class="sidebar-menu-item"><a href="/admin/shipping_categories">Shipping Categories</a></li>
  <li class="sidebar-menu-item"><a href="/admin/stock_transfers">Stock Transfers</a></li>
  <li class="sidebar-menu-item"><a href="/admin/stock_locations">Stock Locations</a></li>
  <li class="sidebar-menu-item"><a href="/admin/store_credit_categories">Store Credit Categories</a></li>
  <li class="sidebar-menu-item"><a href="/admin/trackers">Analytics Trackers</a></li>
  <li class="sidebar-menu-item"><a href="/admin/refund_reasons">Refund Reasons</a></li>
  <li class="sidebar-menu-item"><a href="/admin/reimbursement_types">Reimbursement Types</a></li>
  <li class="sidebar-menu-item"><a href="/admin/return_authorization_reasons">Return Authorization Reasons</a></li>
  <li class="sidebar-menu-item"><a href="/admin/roles">Roles</a></li>
</ul>
</li>
  </ul>

  <div class="spree-version hidden-xs hidden-sm">
    3.2.3
  </div>

          
          
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="main-part">

            <div class="content-header  page-header">
    <div class="row">
        <h1 class="col-sm-6">
            Salesforce Products

        </h1>

        <div class="page-actions col-sm-6" data-hook="toolbar">
            <a class="btn btn-success" icon="add" id="admin_new_product" href="http://localhost:3000/admin/products/new"><span class="icon icon-add"></span> New Product</a>

        </div>

    </div>
  </div>


          <div class="row">
            

            <div class="col-sm-12" id="content" data-hook="">
                <div class="filter-wrap row">
    <div class="col-sm-12">
      <div class="input-group index-filter-button">
        <span class="input-group-btn">
          <button class="btn btn-default js-show-index-filters" type="button">
            <span class="icon icon-chevron-right"></span>
            Filter
          </button>
        </span>
        <form id="quick-search" action="/admin/salesforce_products" accept-charset="UTF-8" method="post"><input name="utf8" value="✓" type="hidden">
          <input name="quick_search" id="quick_search" class="form-control js-quick-search" placeholder="Quick search.." type="text">
    </form>     
  </div>
        <div id="table-filter" data-hook="" class="well filter-well">
          

      <div class="clearfix"></div>
    </div>
  </div>
</div>


<table class="table" id="listing_products">
    <thead>
      <tr>
         <th><a class="sort_link asc">Product Line Name<span class="icon icon-chevron-up"></span></a></th>
         <th>Type</th>
         <th>Number of Items</th>
         <th>Price</th>
      </tr>
    </thead>
    <tbody>       
                
    </tbody>

  </table>


<div class="row index-pagination-row">
  <div class="col-sm-6">
    
  </div>
  <div class="col-sm-6">
    <div class="pagination-wrap">
      <form class="js-per-page-form form-inline" accept-charset="UTF-8" method="get"><input name="utf8" value="✓" type="hidden">
        <select name="per_page" id="per_page" class="form-control pull-right js-per-page-select per-page-selected-25"><option value="15">15</option>
<option value="30">30</option>
<option value="45">45</option>
<option value="60">60</option></select>
</form>      <div class="clearfix"></div>
    </div>
  </div>
</div>


            </div>

          </div>


        </div>
      </div>
    </div>

    <div data-hook="admin_footer_scripts"></div>
  

<div id="jstree-marker" style="display: none;">»</div><div id="jstree-marker-line" style="display: none;"></div><div id="vakata-contextmenu"></div><span role="status" aria-live="polite" class="select2-hidden-accessible"></span><span role="status" aria-live="polite" class="select2-hidden-accessible"></span><span role="status" aria-live="polite" class="select2-hidden-accessible"></span><span role="status" aria-live="polite" class="select2-hidden-accessible"></span><div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"><div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all"><a class="ui-datepicker-prev ui-corner-all" data-handler="prev" data-event="click" title="Previous"><span class="ui-icon ui-icon-circle-triangle-w">Previous</span></a><a class="ui-datepicker-next ui-corner-all" data-handler="next" data-event="click" title="Next"><span class="ui-icon ui-icon-circle-triangle-e">Next</span></a><div class="ui-datepicker-title"><span class="ui-datepicker-month">September</span>&nbsp;<span class="ui-datepicker-year">2017</span></div></div><table class="ui-datepicker-calendar"><thead><tr><th scope="col" class="ui-datepicker-week-end"><span title="Sun">Sun</span></th><th scope="col"><span title="Mon">Mon</span></th><th scope="col"><span title="Tue">Tue</span></th><th scope="col"><span title="Wed">Wed</span></th><th scope="col"><span title="Thu">Thu</span></th><th scope="col"><span title="Fri">Fri</span></th><th scope="col" class="ui-datepicker-week-end"><span title="Sat">Sat</span></th></tr></thead><tbody><tr><td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">1</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">2</a></td></tr><tr><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">3</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">4</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">5</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">6</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">7</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">8</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">9</a></td></tr><tr><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">10</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">11</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">12</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">13</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">14</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">15</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">16</a></td></tr><tr><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">17</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">18</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">19</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">20</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">21</a></td><td class=" ui-datepicker-days-cell-over  ui-datepicker-current-day ui-datepicker-today" data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default ui-state-highlight ui-state-active ui-state-hover" href="#">22</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">23</a></td></tr><tr><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">24</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">25</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">26</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">27</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">28</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">29</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="8" data-year="2017"><a class="ui-state-default" href="#">30</a></td></tr></tbody></table></div></body></html>