@import "bootstrap-sprockets";
@import "bootstrap";

/* COMPONENTS */

/* _main.scss */

#main-part {
  padding: 15px 35px 0;
  &.sidebar-collapsed {
    padding-left: 85px;
  }
}

.logo.navbar-brand {
  padding: 5px 15px;
}

#logo {
  width: auto;
  height: 40px;
}

/* _sidebar.scss */

#main-sidebar {
  position: fixed;
  top: $navbar-height + 2px;
  bottom: 0;
  left: 0;
  padding: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: lighten($gray-lighter, 5);
  border-right: 1px solid darken($gray-lighter, 5);

  a {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
  }

  ul.nav-sidebar {
    > li {
      border-bottom: 1px solid $gray-lighter;

      > a {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 500;
        padding: 15px;
        color: $gray;

        .glyphicon {
          font-size: 18px;
          vertical-align: bottom;
          padding-right: 5px;
        }

        .glyphicon.pull-right {
          font-size: 8px;
          line-height: 2;
          color: $gray-light;
          position: absolute;
          right: 5px;
          top: 50%;
          margin-top: -8px;
        }
      }
    }
  }

  ul.nav.nav-pills {
    background-color: white;
    border-top: 1px solid $gray-lighter;

    li {
      a {
        padding: 5px 15px;
        font-size: 12px;

        &:hover {
          border-radius: 0;
        }
      }

      &.selected {
        a {
          color: $brand-success
        }
      }
    }
  }

  .spree-version {
    position: absolute;
    z-index: -1;
    left: 15px;
    bottom: 15px;
  }
}

#wrapper.sidebar-minimized #main-sidebar {
  width: 50px;
  overflow: visible;

  li {
    &:hover, &.menu-active {
      background-color: $gray-lighter;
    }
  }

  .icon-link, [data-toggle="collapse"] {
    text-align: center;

    .icon {
      padding: 0;
    }

    .text, .icon-chevron-left, .icon-chevron-down {
      display: none;
    }
  }

  ul.collapse.in {
    display: none;
  }

  .submenu-active {
    display: block !important;
    height: auto !important;
    position: fixed;
    top: $navbar-height + 2px;
    bottom: 0;
    left: 0;
    padding: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    left: 50px;
    min-width: 180px;
    visibility: visible;
    background-color: lighten($gray-lighter, 5);
    border-top: none;
    border-right: 1px solid darken($gray-lighter, 5);
    padding-top: 5px;
  }
}

/* _button.scss */

.btn, .nav-pills > li > a {
  letter-spacing: 1px;
  vertical-align: middle;
  transition: color 0.1s linear 0s,background-color 0.1s linear 0s,opacity 0.2s linear 0s !important;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
}
.btn {
  text-align: center;

  &:focus {
    outline: 0 !important;
  }
  
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
      box-shadow: none;
  }

  .glyphicon {
    padding-right: 3px;
  }
}

.btn-sm .glyphicon { padding: 0; }

.btn.action-void { @extend .btn-danger; }
.btn.action-capture { @extend .btn-success; }
.btn.payment-action-edit { @extend .btn-primary; }

/* _filters.scss */

#table-filter {
  display: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 20px;
}

.index-filter-button {
  .glyphicon {
    color: $gray-light;
  }

  button {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: $font-size-base - 3;
    padding: ($padding-base-vertical + 3) $padding-base-horizontal ($padding-base-vertical + 2);
    border-right: none;

    &:focus {
      background-color: $gray-lighter;
      border-color: $input-border;
    }
  }
}

/* _navigation.scss */

#sidebar-toggle {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  margin-top: 17px;
  cursor: pointer;
}

.navbar .row {
  padding-bottom: 0;
}

/* _page_header.scss */

.content-header.page-header {
  margin-top: 15px;

  h1 {
    font-size: $font-size-h1 / 1.5;
    margin: 0;
    line-height: 38px;
  }

  &.with-page-tabs {
    border-bottom: 0;
    margin-bottom: 6px;
    padding-bottom: 0;

    h1 {
      margin-bottom: 8px;
    }

    .nav-tabs {
      padding-left: 15px;
      padding-top: 15px;
    }
  }

  .page-actions {
    text-align: right;

    form {
      display: inline-block
    }
  }
}

/* _panels.scss */

.panel {
  box-shadow: none;
}

/* spinner.scss */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* :not(:required) hides this rule from IE9 and below */
.spinner:not(:required) {
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 6px;
  width: 0.8em;
  height: 0.8em;
  margin: 1.5em;
  overflow: hidden;
  text-indent: 100%;
}

/*_table.scss */

table.table {
  thead {
    th {
      text-transform: uppercase;
      font-size: $font-size-base - 3px;
      padding-top: 14px;
      padding-bottom: 14px;
      vertical-align: middle;
      letter-spacing: 1px;

      a {
        .glyphicon {
          padding-left: 5px;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
        .filterable {
          font-size: 0.8em;
          margin-left: 0.2em;
          color: white; // hidden, but space is reserved for the icon
          cursor: pointer;
        }
      }
      &:hover td .filterable {
        color: #666;
      }
    }
  }
}

.table-active-filters {
  display: none;
  margin: -0.5em 0 0.9em 0;

  .label {
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    font-size: 85%;

    &:hover {
      opacity: 0.8;
    }

    span.icon {
      margin: 0.3em 0 0 0.6em;
      font-size: 80%;
      cursor: pointer;
    }
  }
}

/* _taxon_product */

.taxon-products-view {
  ul.taxon {
    list-style: none;
    margin-left: -2%;
    padding: 0;
    > * {
      margin-left: 2%;
    }
    li.product {
      position: relative;
      float: left;
      width: 18%;
      margin-bottom: 2%;
      padding: 8px 8px 5px 8px;
      border-radius: 4px;
      background: #f4f4f4;
      .well {
        padding-bottom: 12px;
      }
      .sort-handle {
        position: absolute;
        top: 14px;
        left: 16px;
        color: $gray;
        cursor: move;
      }
      .btn-group {
        display: none;
        position: absolute;
        top: 14px;
        right: 16px;
        .btn {
          padding: 2px 7px;
        }
        .dropdown-menu {
          left: auto;
          right: 0;
        }
        a.delete-product {
          color: red;
        }
      }
      .image {
        .thumbnail {
          margin-bottom: 8px;
          display: inline-block;
          width: 100%;
        }
      }
      .product-info {
        margin-bottom: 0.3em;
        font-size: 0.9em;
        div.name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;
        }
        div.price {
          color: $gray;
        }
      }
      &:hover {
        .btn-group {
          display: inline-block;
        }
      }
    }
  }
}

/* well.css */

.well {
  box-shadow: none;
}

/*_icon.scss */
// TODO: Switch everything to use glyphicons
.icon, .glyphicon {
  vertical-align: text-top;
}

// Maps Glyphicons to Spree .icon prefix.
// You can apply same pattern to extend with more icons.
//
// example:
// glyphicon glyphicon-pencil => icon icon-edit
//

// All Glyphicons Halflings in Bootstrap v3.3.1.0
$default_icons: (
  adjust
  align-center
  align-justify
  align-left
  align-right
  arrow-down
  arrow-left
  arrow-right
  arrow-up
  asterisk
  backward
  ban-circle
  barcode
  bell
  bold
  book
  bookmark
  briefcase
  bullhorn
  calendar
  camera
  certificate
  check
  chevron-down
  chevron-left
  chevron-right
  chevron-up
  circle-arrow-down
  circle-arrow-left
  circle-arrow-right
  circle-arrow-up
  cloud
  cloud-download
  cloud-upload
  cog
  collapse-down
  collapse-up
  comment
  compressed
  copyright-mark
  credit-card
  cutlery
  dashboard
  download
  download-alt
  earphone
  eject
  envelope
  euro
  exclamation-sign
  expand
  export
  eye-close
  eye-open
  facetime-video
  fast-backward
  fast-forward
  file
  film
  filter
  fire
  flag
  flash
  floppy-disk
  floppy-open
  floppy-remove
  floppy-save
  floppy-saved
  folder-close
  folder-open
  font
  forward
  fullscreen
  gbp
  gift
  glass
  globe
  hand-down
  hand-left
  hand-right
  hand-up
  hd-video
  hdd
  header
  headphones
  heart
  heart-empty
  home
  import
  inbox
  indent-left
  indent-right
  info-sign
  italic
  leaf
  link
  list
  list-alt
  lock
  log-in
  log-out
  magnet
  map-marker
  minus
  minus-sign
  move
  music
  new-window
  off
  ok
  ok-circle
  ok-sign
  open
  paperclip
  pause
  pencil
  phone
  phone-alt
  picture
  plane
  play
  play-circle
  plus
  plus-sign
  print
  pushpin
  qrcode
  question-sign
  random
  record
  refresh
  registration-mark
  remove
  remove-circle
  remove-sign
  repeat
  resize-full
  resize-horizontal
  resize-small
  resize-vertical
  retweet
  road
  saved
  screenshot
  sd-video
  search
  send
  share
  share-alt
  shopping-cart
  signal
  sort
  sort-by-alphabet
  sort-by-alphabet-alt
  sort-by-attributes
  sort-by-attributes-alt
  sort-by-order
  sort-by-order-alt
  sound-5-1
  sound-6-1
  sound-7-1
  sound-dolby
  sound-stereo
  star
  star-empty
  stats
  step-backward
  step-forward
  stop
  subtitles
  tag
  tags
  tasks
  text-height
  text-width
  th
  th-large
  th-list
  thumbs-down
  thumbs-up
  time
  tint
  tower
  transfer
  trash
  tree-conifer
  tree-deciduous
  unchecked
  upload
  usd
  user
  volume-down
  volume-off
  volume-up
  warning-sign
  wrench
  zoom-in
  zoom-out
);

// We prefer alias/remap these so its easy to understand which icon to use.
// Note: If desired alias exist as default, then remove it from default Array,
//       or write a smarter @each scope below that can actually override.
// ==========> default | alias
$alias_icons: (plus add)
              (pencil edit)
              (ok capture)
              (remove void)
              (bullhorn promotion)
              (share return)
              (send shipment)
              (share clone)
              (refresh update)
              (remove cancel)
              (resize-full split)
              (ok save)
              (eye-open show)
              (remove delete)
              (minus refund)
              (th-large products)
              (th-large variants)
              (picture images)
              (tag properties)
              (inbox stock)
              (usd money)
              (globe translate)
              (ok approve);

.icon {
  @extend .glyphicon;

  // Map defaults.
  @each $icon in $default_icons {
    &.icon-#{$icon} { @extend .glyphicon-#{$icon}; }
  }

  // Map and override with aliases.
  @each $map in $alias_icons {
    $icon:  nth($map, 1);
    $alias: nth($map, 2);
    &.icon-#{$alias} { @extend .glyphicon-#{$icon}; }
  }
}

/* _label.scss */

// Green
.label-completed,
.label-complete,
.label-considered_safe,
.label-paid,
.label-shipped,
.label-ready,
.label-active,
.label-success,
.label-sold,
.label-open,
.label-authorized
{
  background-color: $brand-success;

  a {
    color: white !important;
  }
}

// Red
.label-failed,
.label-considered_risky,
.label-error,
.label-invalid,
.label-closed {
  background-color: $brand-danger;
}

// Orange
.label-pending,
.label-awaiting_return,
.label-returned,
.label-credit_owed,
.label-balance_due,
.label-backorder,
.label-checkout,
.label-cart,
.label-address,
.label-delivery,
.label-payment,
.label-confirm,
.label-canceled,
.label-void,
.label-inactive,
.label-notice,
.label-partial {
  background-color: $brand-warning;

  a {
    color: white !important;
  }
}

/* _progress.scss */

// The progress loader which is positioned at the bottom of the page
#progress {
  display: none;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1001;
  .alert {
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    .progress-message {
      color: #31708f;
      font-weight: bold;
      text-align: center;
    }
    .spinner {
      float: right;
    }
  }
}






/* SHARED */

/* form.scss */

.form-control {
  box-shadow: none;
}

label {
  text-transform: uppercase;
  font-size: $font-size-base - 3;
  letter-spacing: 1px;
  color: $gray;
  font-weight: 500;

  input[type="radio"], input[type="checkbox"] {
    margin-top: 2px;
  }
}

span.or {
  @extend label;

  padding: 0 10px;
}

input.form-control {
  &:active, &:focus {
    border-color: lighten($brand-success, 20);
    box-shadow: none;
  }
}

.form-group {
  &.withError {
    label, .formError, .required {
      color: $brand-danger;
    }

    input,
    .select2-choice {
      border-color: $brand-danger;
    }
  }
}

.fullwidth-input {
  display: block;
  width: 100%;
}

.help-block {
  color: lighten($gray-light, 20);
  font-weight: 300;
}

.checkbox > .help-block {
  margin-top: 0;
}

.display-inline {
  display: inline;
}

/* _base.scss */

body {
  padding-top: $navbar-height + 2px;
}

.table-wrapper {
  overflow: auto;
}

.row {
  padding: 0 0 15px 0;
}

.is-hidden {
  display: none;
}

// No-margin and no-padding helper classes
@each $side in top bottom left right {
  .no-margin-#{$side}  { margin-#{side}: 0; }
  .no-padding-#{$side} { padding-#{side}: 0; }
}

.alert-error {
  @extend .alert-danger;
}



