<!DOCTYPE html>
<html>
  <head>
    <title>Salesforce</title>


    <%= csrf_meta_tags %>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <link rel="stylesheet" media="all" href="/assets/jquery-ui/theme.self-7a9c051f2aa44a600b500a49f222d9d97f131920cec33b47b40428ff535481d1.css?body=1">
<link rel="stylesheet" media="all" href="/assets/jquery-ui/core.self-23329dbe1961b938278306c019037fe36ff6ccb28193f1038e52ccbf52858163.css?body=1">
<link rel="stylesheet" media="all" href="/assets/jquery-ui/datepicker.self-bf92a2196df590f06fad4ab5bb7ed4db1874a9bef0c9af85ea0490d2108b9966.css?body=1">
<link rel="stylesheet" media="all" href="/assets/jquery-ui/menu.self-5277268fc75b8d6e851ccb5ca12e162c7440315d70974f34db800bc70330f135.css?body=1">
<link rel="stylesheet" media="all" href="/assets/jquery-ui/autocomplete.self-2d6dfccae4fba2fe27d00372b974d4540d75a00cea6ceaa0a6aa33852b9d3ac3.css?body=1">
<link rel="stylesheet" media="all" href="/assets/select2.self-cc6993a0d543a584e98e6b70c529fc2a6bdb0abefff4b8b557df356952762a04.css?body=1">
<link rel="stylesheet" media="all" href="/assets/animate.self-8ff8682dec340d8caa1ea038dc8c9eba39aa9c6f29ed0f712f2ae3f3208cd102.css?body=1">
<link rel="stylesheet" media="all" href="/assets/spree/backend/spree_admin.self-bead839a4799c84acc7e3636a25986db65aabfd3f94f6b7ba0895d8d4bd45cb5.css?body=1">
<link rel="stylesheet" media="all" href="/assets/spree/backend.self-4984d37b1be7d78543cf464fae996bcd8e0e8a72c929b2ded5fde626869184f7.css?body=1">
<link rel="stylesheet" media="all" href="/assets/spree/backend/all.self-39fe2fcfc173d85d1c5732d8f1ca4ad3978a1dc4bfe39b5232481c10884e04b3.css?body=1">
<link rel="stylesheet" media="all" href="/assets/spree/backend/spree_delivery_slots.self-2cb95d73fc027481f5caa632c21ea6a3a2bda063ae440710cf77283a7cb2731d.css?body=1">

  </head>

  <body>
    <%= yield %>
  </body>
</html>



